In [37]:
import pandas as pd
import os

In [38]:
mainpath = "/Users/WalterAriel/Desktop/Ciencia-de-Datos-y-Machine-Learning-/datosMios"
filename = "hogares.csv"
fullpath = os.path.join(mainpath, filename)

In [39]:
data = open(fullpath, "r")

In [40]:
encabezado = data.readline().strip().split(",")

In [41]:
n_cols = len(encabezado)
n_cols

5

In [42]:
main_dict = {}
for col in encabezado:
    main_dict[col]= []

In [43]:
#Obtengo un DataFrame, la idea es tener un diccionario que tiene vectores o arrays con toda la informacion
for line in data:
    #Obtengo un array de cada linea
    value = line.strip().split(",")
    for i in range(n_cols):
        #Para cada columna voy agregandola en donde corresponde dentro de la fila
        main_dict[encabezado[i]].append(value[i])

In [45]:
dataframe = pd.DataFrame(main_dict)
dataframe

,indice_tiempo,indigentes_hogares,indigentes_poblacion,pobres_hogares,pobres_personas
0,1988-05-01,0.055,0.086,0.225,0.298
1,1988-11-01,0.07,0.107,0.24100000000000002,0.32299999999999995
2,1989-05-01,0.059000000000000004,0.08,0.19699999999999998,0.259
3,1989-11-01,0.11599999999999999,0.165,0.382,0.473
4,1990-05-01,0.087,0.125,0.336,0.425
5,1990-11-01,0.046,0.066,0.253,0.337
6,1991-05-01,0.036000000000000004,0.051,0.21899999999999997,0.289
7,1991-11-01,0.022000000000000002,0.03,0.162,0.215
8,1992-05-01,0.023,0.033,0.151,0.193
9,1992-11-01,0.025,0.032,0.135,0.17800000000000002
10,1993-05-01,0.028999999999999998,0.036000000000000004,0.136,0.177
11,1993-11-01,0.032,0.044000000000000004,0.13,0.168
12,1994-05-01,0.026000000000000002,0.033,0.11900000000000001,0.161
13,1994-11-01,0.03,0.035,0.142,0.19
14,1995-05-01,0.043,0.057,0.163,0.222
15,1995-11-01,0.044000000000000004,0.063,0.182,0.248
16,1996-05-01,0.051,0.069,0.196,0.267
17,1996-11-01,0.055,0.075,0.201,0.27899999999999997
18,1997-05-01,0.040999999999999995,0.057,0.188,0.263
19,1997-11-01,0.05,0.064,0.19,0.26
20,1998-05-01,0.04,0.053,0.177,0.243
21,1998-11-01,0.045,0.069,0.182,0.259
22,1999-05-01,0.054000000000000006,0.076,0.191,0.271
23,1999-11-01,0.048,0.067,0.18899999999999997,0.267
24,2000-05-01,0.053,0.075,0.21100000000000002,0.297
25,2000-11-01,0.055999999999999994,0.077,0.20800000000000002,0.289
26,2001-05-01,0.07400000000000001,0.10300000000000001,0.235,0.327
27,2001-11-01,0.083,0.122,0.255,0.354
28,2002-05-01,0.16,0.22699999999999998,0.37200000000000005,0.49700000000000005
29,2002-11-01,0.16899999999999998,0.247,0.423,0.5429999999999999
30,2003-05-01,0.163,0.252,0.39399999999999996,0.517