# Leer datos desde una URL

In [21]:
import pandas as pd

Uso pandas para la lectura en general

In [28]:
medals_url = "http://winterolympicsmedals.com/medals.csv"

In [29]:
medals_data = pd.read_csv(medals_url)

In [30]:
medals_data.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

Otros paquetes de python que se usan para obtener datos

In [31]:
import csv
import urllib3

csv trae metodos para manejars csv y urllib3 se usa para el manejo de informacion a traves de una URL

In [36]:
http = urllib3.PoolManager()
r = http.request('GET', medals_url)
response = r.data

# Ficheros tipo excel, XLS, XLSX

In [223]:
mainpath = "/Users/WalterAriel/Desktop/Ciencia-de-Datos-y-Machine-Learning-/datasets"
filename = "titanic/titanic3.xls"
mine = "/Users/WalterAriel/Desktop/Ciencia-de-Datos-y-Machine-Learning-"
minePath = mine + "/datosMios"

In [224]:
titanic2 = pd.read_excel(mainpath + "/" + filename, "titanic3")

Hay que poner al final que pestaña estamos leyendo, en este caso la de titanic 3

Creando un CSV o dataframe o JSON inclusive a partir del xls usando to_csv

In [225]:
titanic2.to_csv(mainpath + "/titanic/titanic_custom.xls" )

In [226]:
titanic2.to_json(mainpath + "/titanic/titanic_custom.json")

Procesamiento del String binario obtenido en response que quedo colgado, el string binario esta guardado en response

In [227]:
responseStr = response.decode('utf-8')
vectorResponse = responseStr.split("\n")

Ahora ya lo tengo decodificado en un formato UTF-8, lo siguiente sería transformarlo en un dataframe, para lo cual debo obtener un diccionario que contenga como claves los valores que hay en el encabezado y como valor vectores  con la informacion

In [228]:
cabeceraLength = len(responseCabecera)
responseLength = len(vectorResponse)
responseCabecera = vectorResponse[0].split(",")
dicc = {}
# Creo la cabecera del diccionario
for i in range(cabeceraLength):
    dicc[responseCabecera[i]] = []

In [229]:
for l in vectorResponse[1:]:
    value = l.split(",")
    for i in range(cabeceraLength):
        dicc[responseCabecera[i]].append(value[i])

Creo el dataframe

In [230]:
dataFrameOlympics = pd.DataFrame(dicc)
dataFrameOlympics.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

Imprimo cuantas lineas tiene y cuantas columnas

In [231]:
print("El dataframe tiene %d filas y %d columnas"%(responseLength,cabeceraLength) )

El dataframe tiene 2312 filas y 8 columnas

Procedo a guardar toda la información en un archivo tipo CSV y en uno tipo XLSX

In [251]:
dataFrameOlympics.to_csv(minePath + "/datosMios.csv")
dataFrameOlympics.to_csv(minePath + "/datosMios.xlsx")

In [421]:
def mostarDataset(url):
    http = urllib3.PoolManager()
    r = http.request('GET', url)
    response = r.data
    return response

def urlToCsv(destiny, url ,sep = "," , delim = "\n" ):
    http = urllib3.PoolManager()
    r = http.request('GET', url)
    response = r.data
    responseStr = response.decode('utf-8')
    vectorResponse = responseStr.split(delim)
    
    responseCabecera = vectorResponse[0].split(sep)
    
    responseLength = len(vectorResponse)
    
    cabeceraLength = len(responseCabecera)
    
    print("El dataframe tiene %d filas y %d columnas"%(responseLength,cabeceraLength) )
    
    dicc = {}
    
    # Creo la cabecera del diccionario
    for i in range(cabeceraLength):
        dicc[responseCabecera[i]] = []
        
    for l in vectorResponse[1:]:
        value = l.split(sep)
        if len(value)>1 :
            for i in range(cabeceraLength):
                dicc[responseCabecera[i]].append(value[i])
            
    dataFrameOlympics = pd.DataFrame(dicc)
    dataFrameOlympics.to_csv(minePath + "/" + destiny + ".csv")
    return dicc

In [407]:
mostarDataset("http://opendata.gijon.es/descargar.php?id=608&tipo=CSV")

b'A\xc3\x91O,MES,TIPO,CUANTOS\r\n"2018","01","F","961"\r\n"2018","01","J","13"\r\n"2018","02","F","847"\r\n"2018","02","J","8"\r\n"2018","03","F","959"\r\n"2018","03","J","17"\r\n"2018","04","F","1167"\r\n"2018","04","J","10"\r\n"2018","05","F","1045"\r\n"2018","05","J","11"\r\n"2018","06","F","929"\r\n"2018","06","J","10"\r\n"2018","07","F","1435"\r\n"2018","07","J","3"\r\n"2018","08","F","1640"\r\n"2018","08","J","6"\r\n"2018","09","F","1888"\r\n"2018","09","J","1"\r\n"2018","10","F","1228"\r\n"2018","10","J","6"\r\n"2018","11","F","1238"\r\n"2018","11","J","5"\r\n"2018","12","F","725"\r\n"2018","12","J","2"\r\n'

In [422]:
dicc = urlToCsv("universidad","http://opendata.gijon.es/descargar.php?id=608&tipo=CSV", ",", "\r\n")

El dataframe tiene 26 filas y 4 columnas

['"01"',
 '"01"',
 '"02"',
 '"02"',
 '"03"',
 '"03"',
 '"04"',
 '"04"',
 '"05"',
 '"05"',
 '"06"',
 '"06"',
 '"07"',
 '"07"',
 '"08"',
 '"08"',
 '"09"',
 '"09"',
 '"10"',
 '"10"',
 '"11"',
 '"11"',
 '"12"',
 '"12"']